.department h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #000;
    margin: 0;  
}

.employee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: solid 2px #000;
        padding-right: 1rem;
            padding-left: 1rem;
}

.employee li {
    list-style: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
}

.employeeDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    max-height: 35px;
    text-decoration: underline;
}

.employeeId {
    margin-left: 1rem;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #000;
    max-height: 25px;
}

.dayDetails {
    display: flex;
    min-width: 170px;
}

.calendarDate {
    font-weight: 600;
    color: #000;
    margin: 0;
    min-width: 70px;
    }

.dayOfWeek {
    font-size: 12px;
    color: #000;
    margin: 0;
    margin-right: 1rem;
}

.punches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.punches li {
    list-style: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 1rem;

}

.oddPunches {
    margin: 0;
}

.punches .latePunch {
    color: #ff0000;
}

.punches .isOver {
    color: #1322ed;

}

.date.oddPunches {
    position: relative;
    /* Ensure the .date container can serve as a reference for the absolute positioning of the pseudo-element */
}

.date.oddPunches::before {
    content: "? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* Adjust the size of the question mark as needed */
    color: rgba(0, 0, 0, 0.2);
    /* Semi-transparent color for the question mark */
    z-index: 1;
    /* Ensure it's above the content of the .date container but below any interactive elements you might have */
    pointer-events: none;
    /* Allows clicks to pass through to elements underneath */
}

.totalHours {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.noPunchesDepartment {
    page-break-before: always;
}

@media print {
    .date {
        page-break-inside: avoid;
        /* Avoid breaking inside date containers */
        break-inside: avoid;
        /* For non-IE11 browsers */
    }
          .department:first-child {
              page-break-before: auto;
              /* Avoids adding a break before the first item */
          }
    
          .department {
              page-break-before: always;
              /* Always start new departments on a new page */
          }

                  .noPunchesDepartment {
                      page-break-before: always;
                        margin-bottom: 150px;
                  }
}

@media screen {
    .noPrint {
        display: none;
    }
}

@media print {
.noPrint,
    .printFooter {
        display: block;
    }

    .printFooter {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        /* Other styling as needed */
    }
}